body {
  background-color: teal;
  color: white;
  font: 16px Arial;
}

body h1 {
  text-align: center;
}

body hr {
  border: 1px solid white;
}

body section.box {
  background-color: #004f4f;
  padding: 40px;
  margin: 20px auto;
  opacity: 0.4;
  width: 200px;
  transition: all 0.5s;
}

body section.box:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
