/* Variables de Colores */
@import url("https://fonts.googleapis.com/css?family=Dosis");
:root {
  background: -webkit-linear-gradient(top, #3e73ba, #fff);
  height: 100vh;
}

button {
  border: none;
  box-shadow: -4px -4px 12px rgba(255, 255, 255, 0.8), 4px 4px 12px rgba(0, 0, 0, 0.8);
  background: -webkit-linear-gradient(left, #Af3e37, #a46025);
  color: #fff;
  font-size: 2.6em;
  font-family: "Dosis";
  display: block;
  margin: 80px auto;
  padding: 40px;
  width: 400px;
}
button:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(right, #Af3e37, #a46025);
}
