body {
  background-color: #ddd;
  color: #333;
  font: 16px Arial;
}

article {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 20px;
  width: 400px;
}
article h2 {
  color: #0c0;
}
article h2.no-votar {
  display: none;
}
