body {
  font: 16px Arial;
}

menu {
  margin: 20px auto;
  width: 400px;
}
menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
menu ul li {
  border: 1px solid #ccc;
  margin-bottom: 2px;
  padding: 10px;
}
menu ul li:nth-child(1) {
  background-color: #ff1400;
}
menu ul li:nth-child(2) {
  background-color: #ff2800;
}
menu ul li:nth-child(3) {
  background-color: #ff3c00;
}
menu ul li:nth-child(4) {
  background-color: #ff5000;
}
menu ul li:nth-child(5) {
  background-color: #ff6400;
}
menu ul li:nth-child(6) {
  background-color: #ff7800;
}
menu ul li:nth-child(7) {
  background-color: darkorange;
}
menu ul li:nth-child(8) {
  background-color: #ffa000;
}
menu ul li:nth-child(9) {
  background-color: #ffb400;
}
menu ul li:nth-child(10) {
  background-color: #ffc800;
}
