doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title Estilos CSS
		style.
			section.bandera {
				height: 200px;
				margin: 20px auto;
				width: 400px;
			}
			div {
			 	height: 60px;
			}
			div.amarillo {
				background-color: #cc0;
			}
			div.azul {
				background-color: #00c;
			}
			div.rojo {
				background-color: #c00;
			}
			div.amarillo.alto {
				height: 80px;
			}
	body
		h1 Estilos CSS
		hr
		section.bandera
			div.amarillo.alto
			div.azul
			div.rojo
	
	