doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title Comentarios
	body
		h1 Comentarios
		hr
		// Comentario Linea (Se ve en el marcado)
		br
		//- Comentario Linea PUG (No se ve en el marcado) 
		br
		//
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam soluta doloremque, quam ullam qui autem tenetur consequuntur mollitia temporibus? Adipisci unde quisquam repellendus sint quaerat sunt eligendi quas, perferendis quam.
		br
		//-
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur consectetur iusto atque unde quam tempora alias aliquam nostrum, officiis, magni rerum totam assumenda, vitae minus quasi? Tempore eligendi praesentium, iure.