doctype
html(lang="es")
	include includes/header.pug
	body
		h1 Insertar código PUG
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ex provident in eveniet consequatur odit iure ullam. Repellendus iure eum recusandae esse, officiis, sed sapiente ratione sint, veritatis omnis alias.
		include includes/footer.pug