extends includes/layout.pug

block title
	title Herencia en PUG

block article
	h1 Herencia en PUG
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quo dolorem hic nulla doloribus inventore. Amet magnam, molestias! Eius fugit doloremque facilis eum voluptatum obcaecati, accusantium, fuga illo nulla maxime!
block append scripts
	script(src='js/bootstrap.js')