doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title Iteraciones
	body
		h1 Iteraciones
		hr
		//- Each
		select
			option Seleccione Lenguaje de Programación
			each val in ['Java', 'C#', 'PHP', 'Ruby', "Python"]
				option=val
		//- While
		ul
			- var i = 1
			while i <= 10
				li='Opcion '+i++