doctype
html(lang="es")
	head
		meta(charset="utf-8")
		title Reto 4 (Condicionales)
	body
		h1 Reto 4 (Condicionales)
		hr
		- var edad = 67
		- var genero = 'Femenino'
		if(edad >= 18 && genero == 'Masculino')
			h2 Usted va a la Guerra!
		else
			h2 Usted no va a la Guerra!
