body {
	background-color: teal;
	color: white;
	font: 16px Arial;
	h1 {
		text-align: center;
	}
	hr {
		border: 1px solid white;
	}
	section.box {
		background-color: #004f4f;
		padding: 40px;
		margin: 20px auto;
		opacity: 0.4;
		width: 200px;
		transition: all 0.5s;
		&:hover {
			opacity: 1;
			transform: scale(1.2); 
		}
	}

}