body {
	background-color: #ddd;
	color: #333;
	font: 16px Arial;
}
$edad: 18;

article {
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 20px;
	width: 400px;
	h2 {
		@if $edad >= 18 {
			color: #0c0;
			&.no-votar {
				display: none;
			}
		}
		@else {
			color: #c00;
			&.votar {
				display: none;
			}
		}
	}
}
