doctype
html(lang="es")
	head
		meta(charset="utf-8")
		block title
			title Título por Defecto
	body
		block article
			article
				h1 Encabezado por Defecto
				p Texto por defecto
		block scripts
			script(src='js/jquery.js')
